@model IList<CommunityToolShedMvc.Models.Community>

@{
    ViewBag.Title = "Join";
}

<h2>Join a Community</h2>

<div style="width: 35%">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Community Name</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        @foreach (var community in Model)
        {
            <tr>
                <td scope="col">@community.CommunityName</td>
                <td scope="col">
                    @using (Html.BeginForm("Index", "Community", new { id = community.Id }, FormMethod.Post))
                    {
                        <button class="btn btn-primary" type="submit">Details</button>
                    }
                </td>
                <td scope="col">
                    @using (Html.BeginForm("joinCommunity", "Community", new { id = community.Id }, FormMethod.Post))
                    {
                        <button class="btn btn-primary" type="submit">Join</button>
                    }
                </td>
            </tr>
            
        }
    </table>
</div>