@model IList<CommunityToolShedMvc.Models.Community>

@{
    ViewBag.Title = "Index";
}

<h2>My Communities ⛺</h2>

<div style="width: 35%">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Community Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        @foreach (var community in Model)
        {
            <tr>
                <td scope="col">@community.CommunityName</td>
                <td>
                    @Html.ActionLink("Details", "Index", "Community", new { id = community.Id }, null) 🔎
                </td>
            </tr>
        }
    </table>
</div>


@Html.ActionLink("CREATE A COMMUNITY", "Create", "Community", null, new { @class = "btn btn-info" })
@Html.ActionLink("JOIN A COMMUNITY", "Join", "Community", null, new { @class = "btn btn-info" })
